.header {
  padding: 1px;
  text-align: center;
  background: #006bff;
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
}
body{
	font-family: 'Roboto';
}
input[type=text],input[type=number], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


.column {
  float: left;
  width: 25%;
}
.column.table {
  float: left;
  width: 70%;
}



button {
  width: 75%;
  background-color: #006bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form{
	margin-left: 2%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width:100%;
}

td, th {
  border: 1px solid #C6C6C6;
  text-align: left;
  padding: 8px;
  font-family: 'Roboto';
}

th{
  text-align: center;
}

tr:nth-child(even) {
  background-color: #e5e5e5;
}
.inputInt{
  float: left;
  width: 25%;
  margin-left: 10%
}
.alerts{
	margin-left: 25%;
	margin-right: 25%;
	font-weight: bold;
}
.options{
  text-align: center;
}
.option-button{
	 display: inline-block;

}