.header {
  padding: 1px;
  text-align: center;
  background: #006bff;
  color: white;
  font-size: 30px;
  font-family: 'Roboto';
}
.inputInt{
  float: left;
  width: 25%;
  margin-left: 10%
}
.column {
  float: center;
  width: 50%;
  margin-left: 15%;
}

body{
	font-family: 'Roboto';
}
input[type=text],input[type=number], select {
  width: 75%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.edit-button {
  display:inline-block;
  width: 75%;
  text-align: center;
  background-color: #28B463;
  color: white;
  padding: 14px 20px;
  margin: 20px 20px 0px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-size: 100%;
}
.edit-button.cancel{
	background-color: #3498DB;
	width: 25%;
	margin-left: 25%;
}

input[type=submit]:hover {
  background-color: #45a049;
}
form{
	margin-left: 25%;
}


.alerts{
	margin-left: 25%;
	margin-right: 25%;
}
